* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-bottom: 1.3rem;
}

/* HEADER CLASSES */

.nav-right, .nav-left {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav-right > div, .nav-left > div {
    padding: 0.3rem 1rem;
}

header a {
    color: black;
}

/* CLASSE RIUTILIZZABILE
PER VARI PULSANTI */
.blue-padding {
    background-color: #0061ff;
    padding: 0.3rem 1rem;
    color: white;
    text-align: center;
}

.blue-padding > a {
    color: white;
}

/* MAIN SECTION CLASSES */

/* FIRST SECTION */

section:nth-of-type(1) {
    padding-top: 0.5rem;
    min-height: 570px;
    margin-top: 4rem;
}

.bg-azure {
    background-color: #b4d0e7;
}

.container-first {
    margin: 0 auto;    
    width: 64%;
    height: 400px;    
}

.big-title {
    font-size: 2.1rem;
    text-align: start;
    padding-bottom: 0.3rem;
    padding-top: 3rem;
    padding-right: 3rem;
}

.cont-col-first {
    display: flex;
    position: relative;
    top: 4rem;
}

/* LEFT COLUMN */

.inizia {
    width: fit-content;
    margin-bottom: 1rem;
}

.annulla {
    padding-bottom: 1.8rem;
}

.col-first-sx div:last-child {
    font-size: 3rem;
}

/* RIGHT COLUMN */

.col-first-dx {
    flex-basis: 370%;
}

.col-first-dx > img {
    width: 100%;
}

/* SECOND SECTION */

section:nth-of-type(2) {
    min-height: 700px;
    padding-top: 8rem;    
}

.container-second {
    width: 58%;
    margin: 0 auto;
}

.container-second > h2 {
    padding-bottom: 3rem;
    font-size: 2rem;
}

[type="radio"]:nth-child(2) {
    margin-left: 2rem;
}

/* THREE VERTICAL COLUMNS */

.cont-col-second {
    margin-top: 2rem;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6rem;
}

.col-second {
    flex-basis: calc((100% / 3) - 2rem);
    border: 1px solid #b9b8b8;    
}

section:nth-of-type(2) .col-second {
    padding-right: 0.7rem;
}

.pad-bottom {
    padding-bottom: 1.7rem;
}

.customer {
    text-align: center;
    border-bottom: 1px solid #b9b8b8;
    padding: 0.4rem 0;
}

.col-second > h3 {
    padding-bottom: 0.7rem;
    padding-top: 1.2rem;
}

.col-second > h5 {
    padding-bottom: 0.6rem;
}

.col-second > ul {
    padding-top: 2.5rem;
}

ul > li {
    padding-bottom: 1rem;
    font-size: 0.85rem;
}

.prova {
    max-width: 80%;
    font-size: 0.85rem;
    margin: 1.3rem auto;
}

.buy-now {
    text-decoration: underline;
    color: blue;
}

.col-hr {
    width: 30%;
    border: 1.2px solid #b9b8b8;
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
    margin-left: 2rem;
}

.fa-check {
    color: #0061ff;
}

.col-second h3,h5,span {
    margin-left: 1rem;
}

.oppure {
    margin-left: 1rem;
}

/* SINGLE WIDE COLUMN */

.col-second-wide {
    width: 100%;
    border: 1px solid #b9b8b8;
    padding-bottom: 0.3rem;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col-second-dx {
    padding: 1.5rem;
    width: 60%;
    float: left;
}

.col-second-dx > h5 {
    margin-left: 0;
}

.col-second-dx > span {
    margin-left: 0;
}

.col-second-sx {
    float: right;
    padding-top: 2rem;
    padding-right: 2rem;
}

.col-second-dx > h3 {
    padding-bottom: 0.7rem;
}

.col-second-dx > h5 {
    padding-bottom: 3rem;
}

/* THIRD SECTION */

section:nth-of-type(3) {
    min-height: 700px;
    padding-top: 7rem;    
}

.cont-col-third {
    display: flex;    
}

.col-third-sx > img {
    width: 100%;
}

.col-third-dx {
    flex-basis: 90%;
    padding: 2.5rem 2.1rem;
}

.col-third-dx > h3 {
    padding-bottom: 1rem;
}

.col-third-dx > p {
    padding-bottom: 1rem;
}

.trova {
    border: 1px solid black;
    width: fit-content;
    padding: 0.3rem 0.7rem;
    text-align: center;
    background-color: white;
}

.trova > a {
    color: black;
}

/* FOURTH SECTION */

section:nth-of-type(4) {
    min-height: 700px;    
}

.no-border {
    border: none !important;
}

.col-second > img {
    width: 100%;
}

section:nth-of-type(4) p {
    font-size: 0.85rem;
}

section:nth-of-type(4) h3 {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 1.6rem;
}

/* FIFTH SECTION */

section:nth-of-type(5) {
    min-height: 250px;
    padding-top: 7rem;
    padding-bottom: 7rem;    
}

section:nth-of-type(5) h2 {
    padding-bottom: 3rem;
    font-size: 1.7rem;
}

section:nth-of-type(5) a {
    color: blue;
    text-decoration: underline;
}

/* SIXTH SECTION */

section:nth-of-type(6) {
    min-height: 500px;
}

.container-six {
    width: 100%;
    display: flex;
    min-height: 500px;
    background-color: orange;
}

.lateral-boxes {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    gap: 0;    
}

.central-box {
    width: calc(100% / 3);
    background-color: #f5f5f5;
    padding: 2.5rem;
}

.central-box > img {
    width: 55%;
}

.lat-square {
    width: 50%;
    height: 252.19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lat-square > img {
    width: 50%;
    filter: invert(100%);
}

/* BACKGROUND COLORS OF SQUARES */

.light-green {
    background-color: #a2d39b;
    border: 0.8rem solid #d1e9cd;
}

.bordeaux {
    background-color: #61082b;
}

.light-blue {
    background-color: #0093ce;
}

.red {
    background-color: #ff1c1c;
}

.dark-red {
    background-color: #d5001f;
}

.azure {
    background-color: #b4d0e7;
}

.dark-blue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}